.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px , 1fr));
    grid-gap: 2rem;
    margin: 2rem;
    margin-top: 4.5rem;
}

form {
    position: fixed;
    top: 15px;
    right: 60px;
}

input {
    padding: 0.5rem;
}

button {
    margin-left: 0.75rem;
    padding: 0.5rem 0.75rem;
    background-color: rgb(47, 144, 255);
    color: #fff;
    border: none;
    outline: none;
}

.footer {
    padding: 0.5rem;
    text-align: center;
    background-color: rgb(47, 144, 255);
    color: #fff;
}

@media(max-width: 569px) {
    form {
        margin-top: -15px;
    }

    .grid {
        margin: 1rem;
    }

    .noResults {
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
    }
}
